<nav class="navbar navbar-expand-sm sticky-top navbar-light bg-light">
  <a class="navbar-brand text-muted" href="#" routerLink='/'>MEAN<span class="text-danger">_Auth</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav navbar-left" *ngIf="isLoggedIn() == true">
      <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#" routerLink='/dashboard'>Dashboard </a>
      </li>
      <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" href="#" routerLink='/profile'>Profile </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <div *ngIf="isLoggedIn() == true;else notLoggedIn">
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink='#' (click)='logout($event)'>Logout </a>
        </li>
      </div>
      <ng-template #notLoggedIn>
        <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#" routerLink='/login'>Login </a>
        </li>
        <li class="nav-item" routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" href="#" routerLink='/register'>Register </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
<br>